W2A1

In [6]:
print("Hello World!")

Hello World!

W2A2

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Hello, Nguyen Duc Trung

W2A3

In [5]:
#Enter number from your keyboard
a = int(input())
b = int(input())
#define mathematics
tong = a + b
hieu = a - b
tich = a * b
nguyen = a // b
du = a % b
thuc = a / b
#print 
print(f"{a} + {b} = {tong}")
print(f"{a} - {b} = {hieu}")
print(f"{a} * {b} = {tich}")
print(f"{a} // {b} = {nguyen}")
print(f"{a} % {b} = {du}")
print(f"{a} / {b} = {thuc: .2f}")

1 + 2 = 3
1 - 2 = -1
1 * 2 = 2
1 // 2 = 0
1 % 2 = 1
1 / 2 =  0.50

W2A4

In [1]:
scores = input().split()
a1, b1, c1, a2, b2, a3 = map(float, scores)
#function
TB = ((a1+ b1+ c1) + (a2 + b2) * 2 + a3 * 3) / 10
print(f"{TB:.1f}")

5.2

W2A5

In [2]:
a, b = map(int, input().split())
luy_thua = a**b
print(f"{luy_thua}")

8

W2A6

In [3]:
c = input("Enter a character: ")
if 'a' <= c <= 'z':
    after = chr(ord(c) - 32)
    print("The uppercase character is:", after)
else:
    print("The character is not a lowercase letter.")

The uppercase character is: A

W2A7

In [4]:
A = ((13 ** 2) * 3) + 5
B = 13**2*3 + 5
print(f"{A}")
print(f"{B}")
print(A == B)

512
512
True

W2A8

In [5]:
C = float(input("Enter the temperature:"))
F = 9/5*C + 32
print(f"{F: .2f}")

 53.60

W2A9

In [7]:
x = float(input("price (USD):"))
Total_fee = (x + 10) * 1.3 * 1.1
print(f"Total price: ${Total_fee: .2f}")

Total price: $ 18.59

W2A10

In [8]:
name = ["Bob", "Alice", "Helen"]
name.reverse()
print(f"Hi, {name}")

Hi, ['Helen', 'Alice', 'Bob']

W2A11

In [9]:
a = int(input("Nhập số giờ:"))
b = int(input("Nhập số phút:"))
Total = a * 3600 + b * 60 
print(f"Tổng số giây: {Total}(s)")

Tổng số giây: 11040(s)

W2A12

In [10]:
n = int(input("Nhập độ dài cạnh rubik: "))
Total = n *6
print(f"Tổng số miếng dán: {Total}")

Tổng số miếng dán: 18

W2A13

In [11]:
x = int(input("First number: "))
y = int(input("Second number: "))
print(x * y % 10)

2

W2A14

In [12]:
a = 20
b = 12
print(f"Before: {a} and {b} ")
a, b = b, a
print(f"After: {a} and {b}")

Before: 20 and 12
After: 12 and 20

W2A15

In [13]:
def star_number(n):
    return n * n 

def main():
    try:
        n = int(input("Enter a positive integer: "))
        if n <= 0:
            print("Please enter a positive integer.")
            return
    except ValueError:
        print("Invalid input. Please enter a valid positive integer.")
        return

    result = star_number(n)
    print(f"Số sao thứ (n) là: {result}")
    print("\nMột số số sao đầu tiên:")
    for i in range(1, min(n + 1, 11)):
        print(f"S({i}) = {star_number(i)}")

if __name__ == "__main__":
    main()

Số sao thứ (n) là: 9

Một số số sao đầu tiên:
S(1) = 1
S(2) = 4
S(3) = 9

W2A16

In [14]:
seasons = ["Spring" ,"Summer", "Autumn", "Winter"]
for season in seasons: 
    print(season)

Spring
Summer
Autumn
Winter

W2A17

In [15]:
print("  *  ")
print(" *** ")
print("*****")

  *
 ***
*****

W2A18

In [16]:
# In ra dòng chữ "TDTT" với định dạng yêu cầu
print("### ##   ### ###")
print(" #  # #   #   #")
print(" #  #  #  #   #")
print(" #  #  #  #   #")
print(" #  # #   #   #")

### ##   ### ###
 #  # #   #   #
 #  #  #  #   #
 #  #  #  #   #
 #  # #   #   #

W2A19

In [17]:
days =["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

W2A20

In [18]:
months =["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

W2A21

In [19]:
for i in range(10):
    print("Hello, world")

Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world